{% extends 'base.html' %}
{% load static %}
{% block head_content %}
    <title>
        {{user.username}}
    </title>
{% endblock %}


{% block container %}
    <section class="perfil__contain">
        {% if request.user.student.picture %}
            <img src="{{ request.user.student.picture.url }}" alt="Foto de perfil" class="user__logo">
        {% else %}
            <div class="user__logo--sin-picture user__logo"><img src="{% static 'img/user_logo.png' %}" alt="" ></div>
        {% endif%}
        <div class="perfil__name">{{user.username}} </div>
        <a href="{% url 'update_student' %}"><button class="button__secondary">Modificar Perfil</button></a>
 

       <div class="perfil__datas">

            <div class="title">Datos de Perfil</div>
            <div class="perfil__data">Nombre(s) : {{user.first_name}}</div>
            <div class="perfil__data">Apellidos : {{user.last_name}}</div>
            <div class="perfil__data">Email : {{user.email}}</div>
            <div class="perfil__data">Escuela : {{student.school}}</div>
        </div>


    </section>
{% endblock %}
