{% extends 'base.html' %}
{% load static %}
{% block head_content %}
<title>Physics Lab New Post</title>
{% endblock %}


{% block container %}
<section class="form__contain">
    <img src="{% static 'img/logo.png' %}" alt="logo Physics lab" class="logo">
     <div class="title">{{user.first_name}} {{user.last_name}}</div>
        {% if request.user.teacher.picture %}
            <img src="{{ request.user.teacher.picture.url }}" alt="Foto de perfil" class="user__logo">
        {% else %}
            <div class="user__logo--sin-picture user__logo"><img src="{% static 'img/user_logo.png' %}" alt="" ></div>
        {% endif%}
    <form action="{% url 'update_teacher' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
            <label for="picture" class="label">Foto de perfil: </label>
            <input type="file" class="input {% if form.picture.errors %} invalid {% endif%}"
                id="picture" name="picture">
            <div class="input__invalid">{% for error in form.picture.errors %}{{error}}{%endfor%}</div>
        </div>
        <div class="form__group">
            <label for="biography" class="label">Biografía: </label>
            <textarea class="input {% if form.biography.errors %} invalid {% endif%}"
                id="biography" name="biography">{{teacher.biography}}</textarea>
            <div class="input__invalid">{% for error in form.biography.errors %}{{error}}{%endfor%}</div>
        </div>
        <div class="form__group">
            <label for="school" class="label" >Colegio: </label>
            {{form.schools}}
            <div class="input__invalid">{% for error in form.schools.errors %}{{error}}{%endfor%}</div>
        </div>
        
        <input type="submit" value="Guardar" class="button__primary">
    </form>
</section>
{% endblock %}