<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}{% endblock%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/tablet.css'%}" media="(min-width:680px)">
    <link rel="stylesheet" href="{% static 'css/desktop.css'%}" media="(min-width:800px)">
<script src="https://kit.fontawesome.com/71feef6635.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        {% include "nav.html" %}
    </header>    
    <main>
        {% block container %}
        {% endblock %}
    </main>
    <script src="{% static 'js/simulations.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(".menu_bar").on('click',function(){
            $("nav").toggle('slow');
        });
    </script>
</body>
</html>