{% load static %}

<div class="logo__contain">
    <img src="{% static 'img/logo.png' %}" alt="logo Physics lab" class="logo">
    <h1>Physics Lab</h1>
</div>
<nav>
    <ul>
        <li><a href="">Home</a></li>

        <li><a href="">Posts</a></li>
        <li><a href="">My Posts</a></li>

        <li><a href="">Labs</a></li>
        <li><a href="">My Labs</a></li>
        <li><a href="">Notes Labs</a></li>

        <li><a href="">Simulate</a></li>
        <li><a href="">Log out</a></li>
        <li><a href="">Profile</a></li>
        <li><a href=""><img src="" alt="" class="profile"></a></li>
        <li><a href="">Log in</a></li>
        <li><a href="">Sign up</a></li>
    </ul>
</nav>