{% load static %}

<div class="logo__contain">
    <img src="{% static 'img/logo.png' %}" alt="logo Physics lab" class="logo">
    <div>Physics Lab</div>
</div>

<nav class="navigation" id="main-navigation">
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>

        <li><a href="{% url 'posts' %}">Posts</a></li>
        <li><a href="{% url 'labs' %}">Labs</a></li>
        <li><a href="">Simulate</a></li>
        {% if request.user.is_authenticated %}
            {% if request.user.teacher %}
                <li><a href="">My Posts</a></li>
                <li><a href="">My Labs</a></li>
                {% if request.user.teacher.picture %} 
                    <li><a href="{% url 'perfil_teacher' %}"><img src="{{ request.user.teacher.picture.url }}" alt="Foto de perfil"  class="user__logo"></a></li>
                {% else %} 
                    <li class="user__logo--sin-picture"><a href="{% url 'perfil_teacher' %}"><img src="{% static 'img/user_logo.png' %}" alt="Foto de perfil" class="user__logo"></a></li>
                {% endif%}
            {% else %}

                <li><a href="">Labs Notes</a></li>
                {% if request.user.student.picture %}
                    <li ><a href="{% url 'perfil_student' %}"><img src="{{ request.user.student.picture.url }}" alt="Foto de perfil" class="user__logo"></a></li>
                {% else %}

                    <li class="user__logo--sin-picture"><a href="{% url 'perfil_student' %}"><img src="{% static 'img/user_logo.png' %}" alt="" ></a></li>
                {% endif%}
            {% endif %}
            
            <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'login' %}" class="nav__login">Log in</a></li>
            <li><a href="{% url 'signup'%}" class="nav__signup">Sign up</a></li>
        {% endif %}


    </ul>
</nav>
<div class="menu_bar">
    <a class="bt-menu" href="#" ><span>Menu</span><i class="fas fa-bars"></i></a>
</div>